.card-lateral{
    background: var(--white-color);
    padding: 12px;
    box-shadow: 0px 0px 5px 1px #0a0a0a27;
    border-radius: 3px;
    margin: 0;
    width: 100%;
}

.card-accordions{
    background: var(--white-color);
    padding: 12px;
    box-shadow: 0px 0px 5px 1px #0a0a0a27;
    border-radius: 3px;
    margin: 0;
    width: 100%;
}

.ficha-nome{ font-size:20px; font-weight: 500; text-transform: uppercase;}

.ficha-inf{ h5{ font-size: 16px; font-weight: 400; } }

.inf-api{ color: var(--gray-color); font-size: 16px; font-weight: 300; }

.botao-accordion{
    background: var(--light-color);
    border: 1px solid #c4c4c4;
    width: 100%;
    text-align:left;
    padding: 8px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0px 0px 12px 0px;
    transition: 0.4s all;
}

.botao-accordion:hover{ cursor: pointer; box-shadow: 0px 0px 5px 1px #0a0a0a23; background: #f5f5f5 }

.div-accordion{
    width: 100%;
    text-align:left;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
 }

 .botao-home{
     background: var(--black-color);
     border-radius: 100%;
     height: 46px;
     width: 46px;
     padding: 5px;
     position: fixed;
     bottom: 5px;
     right: 5px;
 }

//  Estilo do HEADER

.header{ background: var(--dark-color); color: var(--light-color); padding: 20px 15px 12px 15px; box-shadow: 0px 2px 5px 1px #0a0a0a3d; }

input{ margin: 0; padding: 5px; border: 1px solid #979797; border-radius: 4px; }

#listaNomes{ width: 60%;}

#erroPokemon{ font-size: 16px; }

.botao{ 
    border-radius: 2px; 
    background: var(--primary-color); 
    color: var(--white-color); 
    border: none;
    padding: 6px 8px;
    margin: 0 10px;
}

.logo:hover{ cursor: pointer; }

// Fim estilo HEADER

.img-pokemon{ animation: pulsar 4s linear infinite; }


@keyframes pulsar {
    0%{ transform: scale(1); }
    50%{ transform: scale(1.15)  }
    100%{ transform: scale(1); }
}

// Criando cores de acordo com o tipo do pokemon assim, no DOM terá uma classe com o nome do tipo dele, e de acordo com esse nome irei adicionar uma cor
.fire{ color: #fa4e4e; }
.bug, .grass{ color: #43c455; }
.water { color: #008bdb; }
.electric{ color: #ffd900 }
.psychic, .ghost, .poison{ color: #8700bd; }
.fighting, .rock, .ground{ color: #a14215; }
.dark{ color: #000000; }
.steel{ color: #757575; }
.fairy{ color: #ff6c84; }
.normal{ color: #d6b982; }
.flying{ color: #5a7bb8; }
.ice{ color: #7092bd; }

.borda-fire{ border-left: 3px solid #fa4e4e; }
.borda-bug, .borda-grass{ border-left: 3px solid #43c455; }
.borda-water { border-left: 3px solid #008bdb; }
.borda-electric{ border-left: 3px solid #ffee00 }
.borda-psychic, .borda-ghost, .borda-poison{ border-left: 3px solid #8700bd; }
.borda-fighting, .borda-rock, .borda-ground{ border-left: 3px solid #a14215; }
.borda-dark{ border-left: 3px solid #000000; }
.borda-steel{ border-left: 3px solid #757575; }
.borda-fairy{ border-left: 3px solid #ff6c84; }
.borda-normal{ border-left: 3px solid #d6b982; }
.borda-flying{ border-left: 3px solid #5a7bb8; }
.borda-ice{ border-left: 3px solid #7092bd; }