<section class="py-4">
    <div class="container">
        <h2 class="titulo">Pokemons mais buscados</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card-lista anima-esquerda text-center" (click)="consultarPokemon('pikachu')">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="">
                    <hr class="hr">
                    <div class="text-left informacoes-pokemons">
                        <h4 class="h6">Nome: <span class="inf-api"> Pikachu </span> </h4>
                        <h4 class="h6">Tipo: <span class="inf-api"> Eletrico </span> </h4>
                        <h4 class="h6">Habilidade 1: <span class="inf-api"> Lightning-rod </span> </h4>
                        <h4 class="h6">Habilidade 2: <span class="inf-api"> Static </span> </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card-lista anima-esquerda text-center" (click)="consultarPokemon('squirtle')">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" alt="">
                    <hr class="hr">
                    <div class="text-left informacoes-pokemons">
                        <h4 class="h6">Nome: <span class="inf-api"> Squirtle </span> </h4>
                        <h4 class="h6">Tipo: <span class="inf-api"> Água </span> </h4>
                        <h4 class="h6">Habilidade 1: <span class="inf-api"> Rain-dish </span> </h4>
                        <h4 class="h6">Habilidade 2: <span class="inf-api"> Torrent </span> </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card-lista anima-direita text-center" (click)="consultarPokemon('charmander')">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="">
                    <hr class="hr">
                    <div class="text-left informacoes-pokemons">
                        <h4 class="h6">Nome: <span class="inf-api"> Charmander </span> </h4>
                        <h4 class="h6">Tipo: <span class="inf-api"> Fogo </span> </h4>
                        <h4 class="h6">Habilidade 1: <span class="inf-api"> Solar-power </span> </h4>
                        <h4 class="h6">Habilidade 2: <span class="inf-api"> Blaze </span> </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card-lista anima-direita text-center" (click)="consultarPokemon('gyarados')">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/130.png" alt="">
                    <hr class="hr">
                    <div class="text-left informacoes-pokemons">
                        <h4 class="h6">Nome: <span class="inf-api"> Gyarados </span> </h4>
                        <h4 class="h6">Tipo: <span class="inf-api"> Água </span> </h4>
                        <h4 class="h6">Habilidade 1: <span class="inf-api"> Moxie </span> </h4>
                        <h4 class="h6">Habilidade 2: <span class="inf-api"> Intimidate </span> </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card-lista anima-esquerda text-center" (click)="consultarPokemon('lugia')">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/249.png" alt="">
                    <hr class="hr">
                    <div class="text-left informacoes-pokemons">
                        <h4 class="h6">Nome: <span class="inf-api"> Lugia </span> </h4>
                        <h4 class="h6">Tipo: <span class="inf-api"> Psychic  </span> </h4>
                        <h4 class="h6">Habilidade 1: <span class="inf-api"> Multiscale </span> </h4>
                        <h4 class="h6">Habilidade 2: <span class="inf-api"> Pressure </span> </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card-lista bo anima-esquerda text-center" (click)="consultarPokemon('mewtwo')">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png" alt="">
                    <hr class="hr">
                    <div class="text-left informacoes-pokemons">
                        <h4 class="h6">Nome: <span class="inf-api"> Mewtwo </span> </h4>
                        <h4 class="h6">Tipo: <span class="inf-api"> Psychic  </span> </h4>
                        <h4 class="h6">Habilidade 1: <span class="inf-api"> Unnerve </span> </h4>
                        <h4 class="h6">Habilidade 2: <span class="inf-api"> Pressure </span> </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card-lista anima-direita text-center" (click)="consultarPokemon('arceus')">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/493.png" alt="">
                    <hr class="hr">
                    <div class="text-left informacoes-pokemons">
                        <h4 class="h6">Nome: <span class="inf-api"> Arceus </span> </h4>
                        <h4 class="h6">Tipo: <span class="inf-api"> Normal  </span> </h4>
                        <h4 class="h6">Habilidade 1: <span class="inf-api"> Multitype </span> </h4>
                        <h4 class="h6">Habilidade 2: <span class="inf-api"> Não possui </span> </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card-lista anima-direita text-center" (click)="consultarPokemon('charizard')">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="">
                    <hr class="hr">
                    <div class="text-left informacoes-pokemons">
                        <h4 class="h6">Nome: <span class="inf-api"> Charizard </span> </h4>
                        <h4 class="h6">Tipo: <span class="inf-api"> Dragão  </span> </h4>
                        <h4 class="h6">Habilidade 1: <span class="inf-api"> Solar-power </span> </h4>
                        <h4 class="h6">Habilidade 2: <span class="inf-api"> Blaze </span> </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
