/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color:#ffb000;
    --secondary-color:#e09900;
    --success-color:#27b161;
    --danger-color:#f53d65;
    --black-color:#161616;
    --dark-color:#2c2c2c;
    --gray-color:#616161;
    --white-color:#fff;
    --light-color:#fafafa;
  }

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; background: #fafafa; }

.titulo{ color: var(--dark-color); font-weight: 400; font-size: 34px; text-align: left; margin-bottom: 20px; opacity: 0; animation: 1s fade linear forwards; transition: 1s all; }

.titulo::after{
  content: '';
  display: block;
  height: 3px;
  width: 110px;
  background: var(--primary-color);
  margin-top: 8px;
}

@keyframes fade{
  0%{ opacity: 0; }
  50%{ opacity: 0.5; }
  100%{ opacity: 1; }
}

.anima-esquerda{ margin-left: -40px; opacity: 0; transition: 1s all; animation: 1s anima-esquerda linear forwards; animation-delay: 0.5s; }

.anima-direita{ margin-left: 40px; opacity: 0; transition: 1s all; animation: 1s anima-direita linear forwards; animation-delay: 0.5s; }

@keyframes anima-esquerda{
    0%{ margin-left: -40px; opacity: 0; }
    50%{ margin-left: -20px; opacity: 0.5; }
    100%{ margin-left: 0px; opacity: 1; }
}

@keyframes anima-direita{
    0%{  margin-left: 40px; opacity: 0; }
    50%{  margin-left: 20px; opacity: 0.5; }
    100%{  margin-left: 0px; opacity: 1; }
}



// Criando cores de acordo com o tipo do pokemon assim, no DOM terá uma classe com o nome do tipo dele, e de acordo com esse nome irei adicionar uma cor
.fire{ color: #fa4e4e; }
.bug, .grass{ color: #43c455; }
.water { color: #008bdb; }
.electric{ color: #ffd900 }
.psychic, .ghost, .poison{ color: #8700bd; }
.fighting, .rock, .ground{ color: #a14215; }
.dark{ color: #000000; }
.steel{ color: #757575; }
.fairy{ color: #ff6c84; }
.normal{ color: #d6b982; }
.flying{ color: #5a7bb8; }
.ice{ color: #7092bd; }
.dragon{ color: #ff7300; }

.borda-fire{ border-left: 3px solid #fa4e4e; }
.borda-bug, .borda-grass{ border-left: 3px solid #43c455; }
.borda-water { border-left: 3px solid #008bdb; }
.borda-electric{ border-left: 3px solid #ffee00 }
.borda-psychic, .borda-ghost, .borda-poison{ border-left: 3px solid #8700bd; }
.borda-fighting, .borda-rock, .borda-ground{ border-left: 3px solid #a14215; }
.borda-dark{ border-left: 3px solid #000000; }
.borda-steel{ border-left: 3px solid #757575; }
.borda-fairy{ border-left: 3px solid #ff6c84; }
.borda-normal{ border-left: 3px solid #d6b982; }
.borda-flying{ border-left: 3px solid #5a7bb8; }
.borda-ice{ border-left: 3px solid #7092bd; }
.borda-dragon{ border-left: 3px solid #ff7300; }